@model SignsTranslator.Models.SignsLayouts

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SignsLayouts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LayoutId" class="control-label"></label>
                <input asp-for="LayoutId" class="form-control" />
                <span asp-validation-for="LayoutId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PDFDefinition" class="control-label"></label>
                <input asp-for="PDFDefinition" class="form-control" />
                <span asp-validation-for="PDFDefinition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageThumbnail" class="control-label"></label>
                <input asp-for="ImageThumbnail" class="form-control" />
                <span asp-validation-for="ImageThumbnail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
